body {
    touch-action: none;
    margin: 0 0 0 0;
    color: #3B4952;
    font-size: 12pt;
    text-align:center;
    letter-spacing: 2pt;
    line-height: 18pt;
    height: 100%;
}

.map {
    z-index: -200;
    position: fixed;
    vertical-align: middle;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    top: 0;
}

.map svg {
    height: 100%;
}

@media screen and (max-device-width: 500px) {
    .map svg {
        width: 100%;
    }
}

.bg-blur {
    position: fixed;
    background: #e3dbc8;
    float: left;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* -webkit-filter: blur(15px); */
    /* filter: blur(15px); */
    z-index: -300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.content_card {
    z-index: 100;
    text-align: left;
    background: #e3dbc8;
    margin: 0 30% 0 30%;
    padding: 10vh;
}

.content_card img {
    width: 100%;
}

.down {
    text-align: center;
    font-size: 60%;
    padding-top: 4vh;
    color: gray;
}

@media screen and (max-device-width: 500px) {
    .content_card {
        margin: 0 0 0 0;
        padding: 10vh 5% 10vh 5%;
    }
}

.cover {
    height: 100vh;
}

.cover img {
    height: 100%;
}

.category_img {
    width: 50%;
}

.note {
    text-align: left;
    font-size: 60%;
    color: gray;
}