.content_area{
    position: absolute;
    width: 1280px;
    height: 600px;
    background-color: white;
    background-size: cover;
    top:0;
    left: 0;
    cursor: url('./image/cursor.ico'),default;
    font-size: 12px;
}

#title{
    position: absolute;
    height: 100px;
    top: 16px;
    left: 700px;
}

#knowledge1{
    transition: opacity 3s ease;
    opacity: 0;
}
#knowledge2{
    transition: opacity 3s ease 3s;
    opacity: 0;
}
#knowledge3{
    transition: opacity 3s ease 6s;
    opacity: 0;
}
#knowledge4{
    transition: opacity 3s ease 9s;
    opacity: 0;
}
#knowledge5{
    transition: opacity 3s ease 12s;
    opacity: 0;
}
#knowledge6{
    transition: opacity 3s ease 15s;
    opacity: 0;
}

@keyframes shakeX {
    from,to  {
      transform: translate3d(0.5rem, 0, 0);
        }
}

#button{
    position: absolute;
    top:520px;
    right: 59px;
    background-image:url(./image/next_back.png);
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
  }
  #next_page{
    margin-top: 25px;
    margin-left: 12px;
    font-size: 21px;
    color: #C7766C;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  #button:hover{
    width: 80px;
    height: 80px;
  }
  #button:hover #next_page{
    margin-top: 27px;
    margin-left: 16px;
    font-size: 24px;
  }